/*가격 출금*/
.product-container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  outline: none;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.product-box:hover,
.product-box:focus {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 250px;
  background-color: #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-info {
  text-align: center;
}

.product-info h3 {
  font-size: 18px;
  margin: 8px 0;
}

.product-info p {
  font-size: 14px;
  margin: 0;
}

.price-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.price-container h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.price-input {
  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 16px;
  font-size: 16px;
}

.price-button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.price-button:hover {
  background-color: #0056b3;
}

/*래플,경매*/
.product-container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.product-container2 form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.product-container2 form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.product-container2 form button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.product-container2 form button:hover {
  background-color: #0056b3;
}

.product-container2 button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.product-container2 button:hover {
  background-color: #0056b3;
}

.product-container2 button + button {
  margin-top: 20px;
}

.product-container2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.product-container2 div button {
  margin-top: 20px;
}
