.tab-bar {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #007aff;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}

.tab.active {
  color: #ffffff;
  background-color: #007aff;
}

.tab-content {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-top: 16px;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.item-box {
  padding: 10px;
  padding-top: 0px;
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.item-image-container {
  flex: 0 0 auto;
  overflow: hidden;
}

.item-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.item-image:hover {
  transform: scale(1.1);
}

.item-content {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.item-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.item-description {
  font-size: 14px;
  color: #555555;
} */
